
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: fantasy;
}

div{
    width: auto;
    padding: 30px 30px;
    background: lightgray;
}

a{
    text-decoration: none;
}

#footer{
    background: #2c2c2c;
    overflow: hidden;
}

.footer img{
    max-width: 40px;
    float: right;
    padding-left: 10px;
}